body {
	font-family: 'Roboto', sans-serif;
	max-width: 500px;
	margin: auto;
	font-size: 16px;
	color: #e9ecee;
}

.top {
	position: relative;
}
img {
	width: 100%;
	display: block;
}
.top-text {
	position: absolute;
	width: 100%;
	top: 0;
}
.top-title {
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	padding: 30px 0 0;
}
.top-about {
	background: black;
}
.top-desc {
	font-weight: 300;
	text-align: center;
	font-size: 18px;
	padding-top: 5px;
}
.top-p3 {
	padding: 0 15px;
	text-align: center;
	line-height: 20px;
	margin-top: 0;
	font-weight: 300;
}
.top-p1 {
	text-align: center;
	font-weight: 700;
	font-size: 18px;
}
.top-p2 {
	text-align: center;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 0;
	padding-bottom: 40px;
}

.block {
	background: #121212;
	padding: 40px 20px;
	font-weight: 300;
	text-align: center;
	line-height: 22px;
}
.btn {
	background: #121212;
	padding-bottom: 80px;
}
.btn a {
	padding: 12px 10px;
	margin: 0 20px;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	outline: none;
	font-weight: bold;
	font-size: 22px;
	color: #ffffff;
	text-align: center;
	background: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.author {
	text-align: right;
	width: 90%;
	margin-left: auto;
	font-size: 14px;
	line-height: 20px;
}
.author p:not(:first-child) {
	font-style: italic;
}

.title {
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	padding: 0 20px 40px;
	background: #121212;
	line-height: normal;
}

.slick-prev, .slick-next {
	opacity: 0.5 !important;
	width: 40px !important;
	height: 40px !important;
}
.slick-next {
	right: 15px !important;
}
.slick-prev {
	left: 15px !important;
	z-index: 1;
}

.features {
	text-align: left;
}
.pt-0 {
	padding-top: 0;
}
.mt-0 {
	margin-top: 0;
}
.pt-40 {
	padding-top: 40px;
}

b {
	font-weight: 700;
}
.sale {
	background: gold;
	color: #121212;
	padding: 0px 10px;
	display: inline-block;
	border-radius: 10px;
}

html, body {
	scroll-behavior: smooth;
}

button {
	padding: 12px 10px;
	margin: auto;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	outline: none;
	font-weight: bold;
	font-size: 22px;
	color: #ffffff;
	text-align: center;
	background: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
	border: none;
	border-radius: 10px;
	cursor: pointer;
	width: 100%;
	margin-top: 20px;
}

input {
	width: 100%;
	border: none;
	outline: none;
	margin: 10px 0;
	padding: 10px 20px;
	box-sizing: border-box;
	border-radius: 20px;
	font-size: 14px;
}

#form a {
	color: grey;
	display: inline-block;
	margin-top: 50px;
}

.cart {
	width: 22px;
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
}

@-webkit-keyframes AnimationName {
    100% {background-position: 100% 50%;}
    0% {background-position: 0% 50%;}
}
@-moz-keyframes AnimationName {
    100% {background-position:100% 50%;}
    0% {background-position:0% 50%;}
}
@-o-keyframes AnimationName {
    100% {background-position:100% 50%;}
    0% {background-position:0% 50%;}
}
@keyframes AnimationName {
    100% {background-position:100% 50%;}
    0% {background-position:0% 50%;}
}


.animated {
	position: relative;
	overflow: hidden;
}

.animated:before {
    display: block;
    content: '';
    width: 140%;
    height: 100%;
    background: url(../img/animate_bg.png) no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-animation: AnimationName 2s cubic-bezier(0.43, 0.61, 1, 1) infinite;
    -moz-animation: AnimationName 2s cubic-bezier(0.43, 0.61, 1, 1) infinite;
    -o-animation: AnimationName 2s cubic-bezier(0.43, 0.61, 1, 1) infinite;
    animation: AnimationName 2s cubic-bezier(0.43, 0.61, 1, 1) infinite;
    position: absolute;
    top: 0;
    left: -20%;
}

a[href^="tel"] {
	color: inherit; /* Inherit text color of parent element. */
	text-decoration: none; /* Remove underline. */
	/* Additional css `propery: value;` pairs here */
  }